body {
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    margin-top: 1em;
    padding-top: 1em;
}

@media(max-width: 51em) {
    body {
        padding: 1em 1em;
    }
}

@media (min-width: 51em) {
    body {
        padding: 4em 1em;
        max-width: 50em;
    }
}

h1,
h2,
strong {
    color: #333;
}

.calendar {
    max-width: 25em;
    margin-bottom: 2.4rem;
}

.legend {
    margin-top: 1.2rem;
    background-color: #81d4fa;
    border-radius: 10px;
    color: #36352e;
    font-size: 10px;
    padding: .4rem;
    display: inline-block;

}

.event {
    background-color: #81d4fa;
}
.starting {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.ending {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.day:not(.headline) {
    padding-left: 1.2rem;
}

.month {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20%;
}

.headline {
    font-size: 10px;
    color: #36352e;
}

.icon {
    font-size: 30px;
}

.disclaimer {
    padding: 1.2rem;
    background-color: #81d4fa;
}

.footer {
    color: #36352e;
    font-size: 10px;
}

.address > p {
    margin: 0px;
}

.car-replacement-statistics {
    width: 100%;
    margin-left: -20px;
}

.citation-label {
    color: #36352e;
    font-size: 10px;
}

.mariner {
    background-color: #3c6494;
}

.light-steel-blue {
    background-color: #b6c3dc;
}

.polo-blue {
    background-color: #7e9bc8;
}

.steel-blue {
    background-color: #4978b1;
}

.last-blue {
    background-color: #798cb1;
}

.charts {
    display: flex;
    flex-direction: row;
}

.chart-legend {
    display: grid;
    grid-row-gap: .4rem;
    grid-template-columns: 10px 150px 10px 150px;
    font-size: 10px;
}

.color-description {
    margin-left: .8rem;
}

.placeholder {
}
